@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 100vh;
    font-size: 100%;
    list-style-type: none;
}

body{
    background-color: black;
    color: #F6F6F6;
}

strong{
    color: #22D4FD;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.container__content{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.image{
    width: 30%;
    height: 30%;
}

.container__content__title{
    font-size: 36px;
    font-family: "Krona One", serif;
}

.container__content__paragraph{
    font-size: 24px;
    font-family: "Montserrat", serif;
    font-weight: 400;
}

.container__content__links{
    display: flex;
    justify-content: space-between;
}

.container__content__links__link{
    background-color: #22D4FD;
    width: 280px;
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    padding: 21.5px 0;
    color: black;
    font-size: 24px;
    font-family: "Montserrat", serif;
    font-weight: 600;
}