@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

:root{
    --primary-color: #6c584c;
    --secondary-color: #f0ead2;
    --tertiary-color: #adc178;
    --hover-color: #a98467;

    --primary-font: "Krona One", serif;
    --secondary-font: "Montserrat", serif;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    list-style-type: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header{
    padding: 2% 0 0 15%;  /*superior, direita, inferior e esqueerda */
}

.head__menu{
    display: flex;
    gap: 80px;
}

.head__menu__link{
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--tertiary-color);
    text-decoration: none;
}

.head__menu__link:hover{
    color: #dde5b6;
    transition: 0.5s;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px;
}

.container__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container__content__title{
    font-size: 2.25rem; /* 16px -> 1rem */
    font-family: var(--primary-font);
}

.container__content__title__about{
    color: var(--tertiary-color);
    font-size: 2.25rem; /* 16px -> 1rem */
    font-family: var(--primary-font);
}

strong{
    color: var(--tertiary-color);
}

.container__content__paragraph{
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 400;
}

.container__content__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.container__content__links__subtitle{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1.5rem;
}

.container__content__links__navigation{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    border-radius: 8px;
    border: 2px solid var(--tertiary-color);
    text-align: center;
    text-decoration: none;
    padding: 21.5px 0;
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 600;
}

.color-icon{
    color: var(--tertiary-color);
}

.container__content__links__navigation:hover{
    background-color: var(--hover-color);
    transition: 0.6s;
}

.image{
    width: 50%;
}

footer{
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 10px;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    
    header{
        padding: 10px;
    }

    .head__menu{
        justify-content: center;
    }
    
    .container{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .container__content{
        width: auto;
    }
}